/*
.add-book, .add-book .form-control {
    font-size: 0.875rem;
}
*/

#populateFromGR {
    max-width: 30rem;
}

#populateFromGR .heading {
    display: flex;
    justify-content: space-between;
}

#populateFromGR .heading span {
    user-select: none;
}