.card {
    /* match table styles */
    border-radius: 0;
    border-color: #dee2e6;
}

.card-header {
    text-align: right;
    cursor: default;
}

.table tbody {
    cursor: pointer;
}

.table th {
    cursor: default;
}