.chart {
  position: relative;
  padding-bottom: 70px;
}

.chart svg circle {
  fill: lightblue;
  cursor: default;
}

.chart .title {
  font-size: 18px;
  font-weight: bold;
}

.chart .tooltip {
  position: "absolute";
  opacity: 0.75;
  background-color: blue;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.chart .tooltip p {
  padding: 1px;
  margin: 1px;
}