.edit-book, .edit-book .form-control {
  font-size: 0.875rem;
}

.external-links {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
}

.external-links .link-icon {
  margin: 8px;
}

.external-links .link-icon:first-child {
  margin-left: 0;
}

.stats-section {
  /* font-size: 0.8em; */
  margin-top: 1em;
}